.wrapper{
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto-fill;
}	

.item-nameBlog,
.item-finding,
.item-social {
	display: flex;
	place-self: center;
	flex-wrap: nowrap;
}

.item-logo {
	grid-area: item-logo;
	place-self: center;
}

.item-nameBlog {
	grid-area: item-nameBlog;
}

.item-nameBlog h3 {
	transform: rotate(20deg);
	outline: dashed;
    animation-name: labelBlog;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes labelBlog {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

.item-social {
	grid-area: item-social;
}

.item-finding {
	grid-area: item-finding;
}

.item-finding form {
  display: flex;
  align-items: center;
  padding: 12px;
}

.item-finding input[type="text"] {
	flex: 1;
	font: normal 100% "Cooper", arial, sans-serif;
    padding: 12px;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: none;
  	width: 100%;
  	min-width: 120px;
}

.item-finding .submit {
	font: normal 100% "Cooper", arial, sans-serif;
	padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #ffcc00;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: none;
    outline: none;
    cursor: pointer;
    transition: background-color .2s 
}

.item-finding .submit:hover {
	background-color: #ffc107;
}

.item-navigation {
	grid-area: item-navigation;
	place-self: end;
}

.item-menu {
	grid-area: item-menu;
	display: none;
}

header {
	border-bottom: 1px solid brown;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
		"item-logo item-nameBlog item-social item-finding"
		"item-logo item-nameBlog item-navigation item-navigation";
		
 	background: var(--Orange, white);
    background: -webkit-linear-gradient(to bottom, var(--Orange, white), var(--Yellow, white));
    background: linear-gradient(to bottom, var(--Orange, white), var(--Yellow, white)); 
}

.item-logo img {
	display: block;
	height: 120px;
	width: 120px;
	border: 3px solid black;
	border-radius: 120px;
	background-color: brown;
	margin: 10px auto 10px auto;
}

.item-navigation ul {
	font: normal 100% "Cooper", arial, sans-serif;
    list-style-type: none;
}

.item-navigation li {
    float: left;
}

.item-navigation li a {
    display: block;
    color: white;
    transition: color .5s;
    padding: 14px 16px;
    text-decoration: none;
}

.item-navigation li a:hover {
    color: var(--Orange);
}

/* Toggle Menu */

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--Yellow);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--Orange);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  font: normal 100% "Cooper", arial, sans-serif;
  background: linear-gradient(to bottom, var(--Yellow, white), var(--Orange, white)); 
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border: 3px solid black;
  border-bottom-right-radius: 70px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: white;
  transition: color .5s; 
}

#menu li:hover {
  color: brown;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
