@media all (max-width: 1280px){
	.item-nameBlog h3 {
	  	font-size: 130%;
	  }
}

@media all and (max-width: 768px) {
	.item-nameBlog h3 {
		font-size: 100%;
	}

	footer .helps-link.item-social {
		display: block;
	}
	.wrapper {
		grid-template-columns: 2fr;
		grid-template-rows: auto-fill;
	}

	.item-menu {
		display: block;
	}

	.item-nameBlog,
	.item-social,
	.item-navigation {
		display: none;
	}

	header {
		grid-template-columns: 2fr;
		grid-template-rows: repeat(2, 1fr);
	    grid-template-areas: 
			"item-menu item-finding"
			"item-logo item-logo";
	}

	footer .helps-link {
		flex-direction: column;
		justify-content: center;
	}
	
	footer .helps-link ul {
		order 1;
	}

	footer .helps-link .footer-item-social {
		align-self: center;
		order 2;
	}

	.helps-link span{
		align-self: center;
		order: 3;
		padding: 10px auto 10px auto;
	}
	.item-author,
	.item-subscribe,
	.aside-item-finding,
	.aside-tags,
	.item-reviews{
		margin: 5px auto 5px auto;
		width: 100%;
	}
}

@media all and (max-width: 768px) and (min-width: 720px) {
	.review-customer  p{
		width: 20em;
	}
}

@media all and (max-width: 720px) and (min-width: 524px) {
	.review-customer  p{
		width: 15em;
	}
}

@media all and (max-width: 524px) and (min-width: 450px) {
	.review-customer  p{
		width: 12.5em;
	}
}

@media all and (max-width: 425px) {
	.item-finding input[type="text"] {
		width: 120px
	}

  	.top-films {
		grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
	}
	.film img {
		height: 300px;
	}
	.wrapper{
		max-width: 425px;
		grid-template-columns: 425px;
	}
	
}

@media all and (max-width: 375px) {
	.wrapper{
		max-width: 375px;
		grid-template-columns: 375px;
	}
}

@media all and (max-width: 320px) {
	.wrapper{
		max-width: 320px;
		grid-template-columns: 320px;
	}

	.item-author img {
		height: 300px;
	}

	.item-reviews .customer .review-customer{
		font-size: 16px;
	}

	.review-customer  p{
		width: 12.5em;
	}
}